.comment-form,
.comment {
    margin-bottom: 10px;
    position: relative;
    z-index: 0;
}

    .comment-form .comment-avatar,
    .comment .comment-avatar {
        border: 1px solid #666;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
        height: 80px;
        left: 15px;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 80px;
    }

        .comment-form .comment-avatar img,
        .comment .comment-avatar img {
            display: block;
            height: auto;
            width: 100%;
        }

    .comment .comment-box {
        border-radius: 5px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
        margin-left: 100px;
        min-height: 20px;
        position: relative;
        padding: 9px;
        max-width: 800px;
    }

    .comment .comment-header:before,
    .comment .comment-header:after {
        content: "";
        border-width: 10px 10px 10px 0;
        border-style: solid;
        border-color: transparent #eee;
        left: -10px;
        position: absolute;
        top: 15px;
    }

    .comment .comment-box:before {
        border-color: transparent rgba(0, 0, 0, .05);
        top: 17px;
    }

    .comment .comment-text {
        color: #555f77;
        font-size: 15px;
        margin-bottom: 10px;
    }

    .comment .comment-footer {
        color: #acb4c2;
        font-size: 13px;
    }

        .comment .comment-footer:after {
            content: "";
            display: table;
            clear: both;
        }

        .comment .comment-footer a {
            color: #acb4c2;
            text-decoration: none;
            -webkit-transition: 350ms color;
            -moz-transition: 350ms color;
            -o-transition: 350ms color;
            transition: 350ms color;
        }

            .comment .comment-footer a:hover {
                color: #555f77;
                text-decoration: underline;
            }

.comment-space {
    margin: 15px auto 1.5px !important;
}

div.reply-pad:nth-last-child(1) {
    margin-left: 35px !important;
}

.right {
    position: absolute;
    right: 20px;
    bottom: 20px;
    top: 10px;
}

i.replyIcon {
    float: right;
}

.comment-header {
    background: #eee;
    max-width: 1000px;
    overflow: hidden;
}

.light-text {
    color: #999;
}

.boxcenter {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.comment-body {
    background: #fcfcfc;
    max-width: 1000px;
    color: #999;
    overflow: hidden;
}

.avatar-left {
    float: left;
    position: relative;
    padding-right: 10px;
}

/********* MEDIA QUERIES FOR SCREENS******/
@media (max-width: 767px) {
    .comment-container {
        max-width: 767px;
        min-width: 300px;
        margin: 0px auto 15px;
    }

    .comment-form .comment-avatar,
    .comment .comment-avatar {
        border: 1px solid #666;
        border-radius: 50%;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
        height: 60px;
        left: 33px;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 60px;
    }

    h2 {
        font-size: 1.4em !important;
    }
}
